/*----- Styles Généraux -----*/
body {
  background-size: 100%;
  background-attachment: fixed;
}

.logoNavbar {
  width: 75px;
  height: auto;
}

footer a[href="https://github.com/OhhhVinny/vincent-tristan-app-festival-art.git"]:hover
{
  transform: scale(1.01);
}
/*----- Styles Hero -----*/

.cadreApp {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 5/9;
  border: 3px solid var(--bs-primary);
  border-radius: 25px;
  overflow: hidden;
}

.cadreApp iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#hero {
  padding-top: 100px;
}

/*----- Styles view more -----*/

#view-more {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.swiper-screenshots {
  width: 80%;
  text-align: center;
  color: var(--bs-white);
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 5/9;
  margin-top: 20px;
  opacity: 0.5;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  border: 3px solid var(--bs-primary);
  border-radius: 25px;
}

.flecheSwiper {
  color: var(--bs-white);
}

/*----- Styles Accordeon -----*/

#FAQ {
  width: 100%;
  background-color: var(--bs-secondary);
  border: 4px solid var(--bs-info);
  text-align: center;
  color: white;
}

/*----- Styles temoignage -----*/

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  height: 100%;
}

.card-title {
  margin-top: 10px;
}

.quote {
  color: var(--bs-primary);
  position: absolute;
  top: -25px;
  left: -15px;
}

/*----- Styles infolettre -----*/
#infolettre {
  background-image: url("../assets/arriere_plans/adrien-olichon-WNs0bW8kHTM-unsplash.jpg");
  background-size: cover;
  color: var(--bs-white);
  padding: 100px 0;
  text-align: center;
}

.infolettre button {
  margin-top: 20px;
}

.modal-dialog {
  max-width: 50%;
}

.infolettre-content {
  max-width: 100%;
  background-color: var(--bs-secondary);
  padding: 20px;
  border-radius: 10px;
  border: 4px solid var(--bs-white);
  margin-top: 20px;
}
