/*----- Styles Généraux -----*/
body {
  background-size: 100%;
  background-attachment: fixed;
}

.logoNavbar {
  width: 75px;
  height: auto;
}

footer a[href="https://github.com/OhhhVinny/vincent-tristan-app-festival-art.git"]:hover
{
  transform: scale(1.01);
}
/*----- Styles Hero -----*/
.cadreApp {
}

iframe {
  aspect-ratio: 5/9;
  width: 100%;
  max-width: 400px;
}

#hero {
  padding-top: 100px;
}

/*----- Styles fonctionnalite -----*/

/*----- Styles Accordeon -----*/

#FAQ {
  width: 100%;
  background-color: var(--bs-secondary);
  border: 4px solid var(--bs-info);
  text-align: center;
  color: white;
}

/*----- Styles temoignage -----*/
.carteTemoignage {
  border: 4px solid var(--bs-primary);
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 10px;
}

.quote {
  color: var(--bs-primary);
  position: absolute;
  top: -10px;
  left: 0;
}

/*----- Styles infolettre -----*/
#infolettre {
  background-image: url("../assets/arriere_plans/adrien-olichon-WNs0bW8kHTM-unsplash.jpg");
  background-size: cover;
  color: var(--bs-white);
  padding: 100px 0;
  text-align: center;
}

.infolettre button {
  margin-top: 20px;
}

.modal-dialog {
  max-width: 50%;
}

.infolettre-content {
  width: 100%;
  background-color: var(--bs-secondary);
  padding: 20px;
  border-radius: 10px;
  border: 4px solid var(--bs-white);
  margin-top: 20px;
}

.modalInput {
  height: 40px;
}
